<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            <i class="fas fa-bus"></i>
            RutasApp
        </a>        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page">Home</a>
                <a class="nav-link" [routerLink]="['/cuenta/',idUser]">Mi cuenta</a>
                <a class="nav-link" [routerLink]="['/desarrolladores/',idUser]">Acerca de</a>                
            </div>            
        </div>
        <span class="navbar-text">
            <button class="btn btn-outline-light" type="button"
            routerLink="/usuario">
                Cerrar sesión
            </button>
        </span>
    </div>
</nav>

<div class ="p-3 mb-2 text-white">
    <h1>Listado de rutas urbanas</h1>
    <hr class="text-white">
</div>

<div class="p-3">
    <button type="button" class="btn btn-light w-100 mb-2">Progreso 4</button>
    <button type="button" class="btn btn-light w-100 mb-2">Progreso 5</button>
    <button type="button" class="btn btn-light w-100 mb-2">Progreso 6</button>
    <button type="button" class="btn btn-light w-100 mb-2">Progreso 1</button>
</div>